
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
}

:root {
  --color-primary-dark: #011c44;
  --color-brand-white: #fff;
  --color-brand-blue: #2b7fff;
  --color-brand-gray: #747272;
  --color-backgdound: #011C44;
}

/* base */
body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Link (header) */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  line-height: 1.5;
}

.link:hover {
  color: var(--color-brand-blue);
  font-weight: 700;
}

/* hero-section */

.hero-title {
  color: var(--color-brand-blue);
  text-align: center;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
}

.button {
  color: var(--color-brand-white);
  background-color: var(--color-brand-blue);
  font-weight: 600;
  border: 2px solid var(--color-brand-blue);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.hero-text {
  font-size: 12px;
  line-height: 18px;
}

/* Action section */

/* Title */
.section-title {
  font-size: 64px;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-brand-blue);
}

/* Action section */
.section-title .action-accent {
  color: var(--color-brand-blue);
  text-transform: capitalize;
}

.action-text {
  font-size: 22px;
  line-height: 1.7;
}

.action-text .accent-text {
  font-weight: 600;
  text-transform: capitalize;
}

/* Why section */
.text {
  line-height: 1.3;
}

/* Prosedures section */
.procedures-text {
  font-size: 22px;
  line-height: 26px;
}

/* Contacts section */
.contacts-form-name {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.accent-contacts {
  color: var(--color-brand-blue);
}

.contacts-rules {
  color: var(--color-brand-gray);
  font-size: 12px;
}

/* Footer */
/* Доповнення до link + one */
.footer {
  background-color: var(--color-backgdound); 
}

.one {
  color: var(--color-brand-white);
  font-size: 16px;
}

.one:hover {
  color: var(--color-brand-blue);
}

.address-link {
  color: var(--color-brand-white);
  font-size: 16px;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-blue);
}

.address-copyright{
  color: var(--color-brand-gray);
}